@import "tailwindcss";

@theme {
  --color-primary: #FECA77;
  --color-dark: #1f1f1f;
  --color-light: #FFFFFF;
}

:root {
  --color-primary: #FECA77;
  --color-dark: #1f1f1f;
  --color-light: #FFFFFF;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}